Source: contractor-plugins
Section: multiverse/t3kton
Priority: optional
Maintainer: Peter Howe <pnhowe@gmail.com>
Build-Depends: debhelper (>= 7), python3 (>= 3.6), python3-dev (>=3.4), python3-setuptools (>= 20.0), lsb-release
Standards-Version: 3.8.3
X-Python3-Version: >= 3.6

Package: contractor-plugins
Architecture: all
Depends: python3 (>= 3.6), contractor,  ${misc:Depends}, ${python3:Depends}
Description: Contractor Plugins
  Contractor Plugins
